<!DOCTYPE html>
<html 
	xmlns="http://www.w3.org/1999/xhtml"
	xmlns:th="http://www.thymeleaf.org"
	xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
	xmlns:sec="http://www.thymeleaf.org/extras/spring-security"
	>

  <div th:replace="~{standardLayouts/head :: head1}">
  	AQUI DEBERIA SALIR EL head
  </div>

  <body>
  
  <div class="pb-5 pt-5 bg-dark text-light min-vw-100 min-vh-100">
  
    <div th:replace="~{standardLayouts/navbar :: navbar1}">
  		AQUI DEBERIA SALIR EL navbar
  	</div>

    <section id="products" class="pt-2 pb-2 bg-dark text-white">
      <div class="container">
        <div class="row w-100">
          <div class="col-lg-12 col-md-12 col-12">
            <h3 class="display-5 mb-2 text-white">
              Product list
            </h3>
            <h2 th:if="${message != null}"  
            	class="mb-2 text-info" th:text=${message}>
            </h2>

            <!-- p th:text="${itemList}" class="mb-5"></p -->

            <div>
              <a role="button" class="btn btn-success mb-1"
                th:href="@{/productAddGet}">
                <i class="bi bi-bag-plus-fill fa-lg"></i>
              </a>
            </div>
              
            <div class="table-responsive bg-light">
              <table class="table table-hover text-start text-dark">
                <thead class="">
                  <tr class="bgd-gradient-blue  ">
                    <th>Id</th>
                    <th>Name</th>
                    <th>Price</th>
                    <th>Family</th>
                    <th>Valuation</th>
                    <th class="text-primary">View</th>
                    <th class="text-warning">Update</th>
                    <th class="text-danger">Delete</th>                        
                  </tr>
                </thead>
                <tbody>
                  <tr th:each="product : ${itemList}">
                    <td th:text="${product.getId()}"></td>
                    <td th:text="${product.getName()}"></td>
                    <td th:text="${product.getPrice()}"></td>
                    <td th:text="${product.getFamily().getName()}"></td>
                    <!-- td th:text="${product.getValuation().getName()}"></td -->

                    <td> 
                    	<i th:each="i : ${#numbers.sequence(1,5)}"
                    		class = "text-primary px-0 mx-0"
                    		th:classappend="${i <= product.getValuation().getId()}
                    			? 'far fa-smile fa-lg text-danger'
                    			: 'fas fa-frown fa-md'">
                    	</i>
                    </td>
<!-- fa-heart, fa-star, fa-smile, fa-thumbs-up, fa-thumbs-down, fa-smile, fa-frown
tamaños: sm, md, lg -->
                    <td>
                    	<!-- a th:text="'View'" role="button" class="btn btn-primary"
                    		th:href="@{/productViewGet/} + ${product.getId()}">
                    	</a -->
                    	<a th:href="@{/productViewGet/} + ${product.getId()}"
                    		role="button" class="btn btn-primary"> 
                    		<i class="bi bi-camera fa-lg"></i>
                    	</a>
                    </td>
                    <td>
                    	<a role="button" class="btn btn-warning"
                    		th:href="@{/productUpdateGet/} + ${product.getId()}"> 
                    		<i class="bi bi-pen fa-lg"></i>	
                    	</a>
                    </td>
                    <td>
                    	<a role="button" class="btn btn-danger"
                    		th:href="@{/productDeleteGet/} + ${product.getId()}">
                    		<i class="bi bi-trash fa-lg"></i>
                    	</a>
                    </td>   

                  </tr>
                </tbody>
              </table>
            </div>
         
            
          </div>
        </div>
      </div>
    </section>

    <div th:replace="~{standardLayouts/footer :: footer1}">
  		AQUI DEBERIA SALIR EL footer
  	</div>  	
  	
  	<div th:replace="~{standardLayouts/script :: script1}">
  		AQUI DEBERIA SALIR EL script
  	</div>

  </div>
  </body>

</html>

<!-- ALTERNATIVA con el campo ManyToOne (valuation):

                	<div class="form-group mt-2">
                    	<label>Valuation</label>
	                    <select required th:field="*{valuation}">
	                    	<option th:each="valuation : ${valuationList}"
	                    		th:value="${valuation.id}" 
	                    		th:text="${valuation.id} + ' >> ' + ${valuation.name}">
	                    	</option>
	                    </select>
            	    </div>
 -->