<!DOCTYPE html>
<html 
	xmlns="http://www.w3.org/1999/xhtml"
	xmlns:th="http://www.thymeleaf.org"
	xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
	xmlns:sec="http://www.thymeleaf.org/extras/spring-security"
	>

  <div th:replace="~{standardLayouts/head :: head1}">
  	AQUI DEBERIA SALIR EL head
  </div>

  <body>
  
  <div class="pb-5 pt-5 bg-dark text-light min-vw-100 min-vh-100">
  
  
    <div th:replace="~{standardLayouts/navbar :: navbar1}">
  		AQUI DEBERIA SALIR EL navbar
  	</div>

    <section class="pb-5 pt-5 bg-dark text-light">
      <div class="container">
        <div class="row text-center justify-content-center">
          <div class="col-12 col-md-8 col-lg-7">
            <h3 class="fw-bold display-4 text-white">Family add</h3>
          </div>
        </div>
        <div class="row pt-4">
          <div class="col-12">
            <form th:object="${item}" method="POST" th:action="@{/FamilyAddPost}">
            
              <div th:if="${#fields.hasAnyErrors()}"
              	class="alert alert-warning">
              	<p th:text="'Errores del formulario:'"></p>
              	<ul>
              		<li th:each="err : ${#fields.errors('*')}" th:text="${err}"/>
              	</ul>
              </div>
              
              <div th:unless="${#fields.hasAnyErrors()}"
              	class="alert alert-info">
              	<p th:text="'No hay errores en el formulario:'"></p>
              </div>
            
              <input th:field="*{id}" type="hidden">
            
              <div class="row border border-3 border-success rounded">
                <div class="col-12 col-md">
                  <label>Name</label>
                  <input type="text" class="form-control mb-3" placeholder="Name"
                   	th:field="*{name}">
                   	<p  th:if="${#fields.hasErrors('name')}"
                   		th:errors="*{name}"
                   		class="alert alert-danger"> 
                   	</p>
                </div>
              </div>
              
              <div class="row mt-4 border border-1 border-warning">
                <div class="col text-center border border-1 border-warning">
                  <button type="submit"
                    class="mt-3 mb-3 btn btn-danger btn-lg">Save</button>
                </div>

                <div class="col text-center border border-1 border-warning">
                  <button type="reset"
                    class="mt-3 mb-3 btn btn-primary btn-lg">Undo</button>
                </div>
                
                <div class="col text-center border border-1 border-warning">
	               <a type="button" th:href="@{/FamilyList}"
    	              class="mt-3 mb-3 btn btn-success btn-lg btn-round mb-3">
        	          Back
            	   </a>
            	</div>
              </div>
            
            </form>
          </div>
        </div>
      </div>
    </section>

    <div th:replace="~{standardLayouts/footer :: footer1}">
  		AQUI DEBERIA SALIR EL footer
  	</div>  	
  	
  	<div th:replace="~{standardLayouts/script :: script1}">
  		AQUI DEBERIA SALIR EL script
  	</div>

  </div>
  
  </body>

</html>