<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" 
	  xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="https://www.thymeleaf.org/thymeleaf-extras-springsecurity6"
	  xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
>

     <section th:fragment="footer1">
      <footer class="pt-4 pb-4  bg-dark text-light">
        <div class="container">
          <div class="row align-items-center">
            <div class="col-12 col-md-8">
              <ul class="nav justify-content-center justify-content-md-start">
                <li class="nav-item">
                  <a class="nav-link active" th:href="@{/home}">Home</a>
                </li>
                <li class="nav-item">
                  <a class="nav-link" href="#">Features</a>
                </li>
                <li class="nav-item">
                  <a class="nav-link" href="#">Terms</a>
                </li>
                <li class="nav-item">
                  <a class="nav-link" th:href="@{/aboutGet}">About</a>
                </li>
              </ul>
            </div>
            <div class="col-12 col-md-4 mt-4 mt-md-0 text-center text-md-end">
              © 2026 JAG. All Rights Reserved
            </div>
          </div>
        </div>
      </footer>
    </section>

</html>