<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" 
	  xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="https://www.thymeleaf.org/thymeleaf-extras-springsecurity6"
	  xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
>

    <nav th:fragment="navbar1" class="navbar navbar-expand-lg navbar-dark border border-dark bg-dark">
      <div class="container">
        <a class="navbar-brand" th:href="@{/}">
          <img src=" https://dummyimage.com/100x30/007bff/efefef" alt="UI Kit"
            style="width: 100px;">
        </a>
        <button class="navbar-toggler" type="button" data-bs-toggle="collapse"
          data-bs-target="#navbarTogglerDemo03"
          aria-controls="navbarTogglerDemo03" aria-expanded="false"
          aria-label="Toggle navigation">
          <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarTogglerDemo03">
          <ul class="navbar-nav ms-auto me-sm-2 mt-2 mt-lg-0">
            <li class="nav-item active me-3">
              <a class="nav-link" th:href="@{/home}">Home <span
                  class="sr-only">(current)</span></a>
            </li>
            <li class="nav-item me-3">
              <a class="nav-link" th:href="@{/aboutGet}">About</a>
            </li>
            <li class="nav-item me-3">
              <a class="nav-link" th:href="@{/servicesGet}">Services</a>
            </li>
             <li class="nav-item me-3">
              <a class="nav-link" th:href="@{/contactsGet}">Contacts</a>
            </li>
            
            
            <li class="nav-item dropdown">
              <a class="nav-link" href="#" id="navbarDropdown" role="button"
                data-bs-toggle="dropdown" aria-haspopup="true"
                aria-expanded="false">Data
              </a>
              <div class="dropdown-menu" aria-labelledby="navbarDropdown">
                <a class="dropdown-item" th:href="@{/customerList}">Customers</a>
                <a class="dropdown-item" th:href="@{/productList}">Products</a>
                <a class="dropdown-item" href="#">Providers</a>
                <div class="dropdown-divider"></div>
                
                <a class="dropdown-item" th:href="@{/valuationList}">Valuations</a>
                <a class="dropdown-item" th:href="@{/familyList}">Families</a>
                
                <a class="dropdown-item" href="#">Users</a>
              </div>
            </li>
            
            
            <li class="nav-item dropdown">
              <a class="nav-link" href="#" id="navbarDropdown" role="button"
                data-bs-toggle="dropdown" aria-haspopup="true"
                aria-expanded="false">
                <img class="rounded-circle u-box-shadow-sm me-2" width="25"
                  height="25" src=" https://dummyimage.com/100/007bff/efefef"
                  alt="Htmlstream" th:text="${username} + ' '"><i class="fa fa-angle-down   "></i>
              </a>
              <div class="dropdown-menu" aria-labelledby="navbarDropdown">
                <a class="dropdown-item" href="#">Profile</a>
                <a class="dropdown-item" href="#">Account Settings</a>
                <a class="dropdown-item" href="#">Newsletter</a>
                <div class="dropdown-divider"></div>
                <a class="dropdown-item" th:href="@{/logoutGet}">Sign Out</a>
              </div>
            </li>
          </ul>

        </div>
      </div>
    </nav>

</html>