<!DOCTYPE html>
<html 
	xmlns="http://www.w3.org/1999/xhtml"
	xmlns:th="http://www.thymeleaf.org"
	xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
	xmlns:sec="http://www.thymeleaf.org/extras/spring-security"
	>

  <div th:replace="~{standardLayouts/head :: head1}">
  	AQUI DEBERIA SALIR EL head
  </div>

  <body>
  
  <div class="pb-5 pt-5 bg-dark text-light min-vw-100 min-vh-100">
  
    <div th:replace="~{standardLayouts/navbar :: navbar1}">
  		AQUI DEBERIA SALIR EL navbar
  	</div>
  	
  	<section class="pb-5 pt-5 bg-dark text-light">
      <div class="container">
        <div class="row text-center ">
          <div class="col-12 col-md-8 col-lg-7">
            <h3 class="fw-bold display-4 text-white">Role delete</h3>
          </div>
        </div>
        
        <div class="row pt-4">
          <div class="col-12">
             <div th:object="${item}">
            
              <div class="row">
				<div class="col input-group mb-2">
				  <span class="input-group-text bg-secondary text-light" id="inputGroup-sizing-default">Rolename</span>
				  <input readonly th:value="${item.getRolename()}" type="text" class="form-control" aria-label="Sizing example input" aria-describedby="inputGroup-sizing-default">
				</div>
              </div>
              
              <div class="row mt-4">
			    <div class="col text-center">
 	               <a type="button" th:href="@{/roleList}"
    	              class="btn btn-success w-100 btn-round mb-3 btn-rised">
        	          Back 
            	    </a>
            	</div>
              
                <div class="col text-center">
 	               <a type="button" th:href="@{/roleDeletePost/} + ${item.getRolename()}"
    	              class="btn btn-danger w-100 btn-round mb-3 btn-rised">
        	          Delete 
            	    </a>
            	</div>
              </div>
                          
            </div>
          </div>
        </div>
      </div>
    </section>
  	
    <div th:replace="~{standardLayouts/footer :: footer1}">
  		AQUI DEBERIA SALIR EL footer
  	</div>  	
  	
  	<div th:replace="~{standardLayouts/script :: script1}">
  		AQUI DEBERIA SALIR EL script
  	</div>

  </div>
  
  </body>

</html>